    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/ticker-style.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">

<body>
     <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="~/img/logo/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
     <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/blog/single_blog_1.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Oca</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Gençlerin beğenebileceği 10 mekan</h2>
                                </a>
                                <p>Merhaba, bu blogumuzda genç insanların eğlenebileceği mekanları derledik..</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Otara, Muhammet Furkan</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2 Yorum</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/blog/single_blog_2.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Oca</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Samsung telefonların bilinmeyen 6 özelliği</h2>
                                </a>
                                <p>Merhaba, bu blogumuzda Samsung telefonlarda yer alan ama bilinmeyen 6 özelliği derledik..</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Otara, Muhammet Furkan</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2 Yorum</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/blog/blog.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Oca</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Doğal güzellikleriyle sizi hayran bırakacak parklar</h2>
                                </a>
                                <p>Merhaba, bu blogumuzda doğal güzellikleriyle öne çıkan park ve bahçeleri sizler için derledik..</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Otara, Muhammet Furkan</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2 Yorum</a></li>
                                </ul>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="~/img/blog/single_blog_4.png" alt="">
                                <a href="#" class="blog_item_date">
                                    <h3>15</h3>
                                    <p>Oca</p>
                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="single-blog.html">
                                    <h2>Harikalar çıkarabileceğiniz bardak tasarım örnekleri</h2>
                                </a>
                                <p>Merhaba, bu blogumuzda sizler için daha önceden yapılmış bardak tasarımlarını derledik..</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-user"></i> Otara, Muhammet Furkan</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 2 Yorum</a></li>
                                </ul>
                            </div>
                        </article>


                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="#" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <form action="#">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder='Ne istemiştiniz?'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Ne istemiştiniz?'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="ti-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Arama</button>
                            </form>
                        </aside>

                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Kategoriler</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Gastronomi</p>
                                        <p> (37)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Seyahat</p>
                                        <p>(10)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Teknoloji</p>
                                        <p>(03)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>İndirimler</p>
                                        <p>(11)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Tasarım</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex">
                                        <p>Sağlık</p>
                                        <p>(21)</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Son Gönderiler</h3>
                            <div class="media post_item">
                                <img src="~/img/post/post_1.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Proje fikirleri..</h3>
                                    </a>
                                    <p>12 Ocak 2024</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/post/post_2.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Tarzınıza uygun kıyafetler..</h3>
                                    </a>
                                    <p>2 saat önce</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/post/post_3.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Yılbaşında yapabileceğiniz..</h3>
                                    </a>
                                    <p>3 saat önce</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img src="~/img/post/post_4.png" alt="post">
                                <div class="media-body">
                                    <a href="single-blog.html">
                                        <h3>Dekoratif öneriler..</h3>
                                    </a>
                                    <p>1 saat önce</p>
                                </div>
                            </div>
                        </aside>
                        <aside class="single_sidebar_widget tag_cloud_widget">
                            <h4 class="widget_title">Etiketler</h4>
                            <ul class="list">
                                <li>
                                    <a href="#">proje</a>
                                </li>
                                <li>
                                    <a href="#">aşk</a>
                                </li>
                                <li>
                                    <a href="#">teknoloji</a>
                                </li>
                                <li>
                                    <a href="#">seyahat</a>
                                </li>
                                <li>
                                    <a href="#">yemek</a>
                                </li>
                                <li>
                                    <a href="#">yaşam tarzı</a>
                                </li>
                                <li>
                                    <a href="#">dizayn</a>
                                </li>
                                <li>
                                    <a href="#">ilüzyon</a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget instagram_feeds">
                            <h4 class="widget_title">Instagram Gönderileri</h4>
                            <ul class="instagram_row flex-wrap">
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_5.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_6.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_7.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_8.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_9.png" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/mfurkanotara/">
                                        <img class="img-fluid" src="~/img/post/post_10.png" alt="">
                                    </a>
                                </li>
                            </ul>
                        </aside>


                        <aside class="single_sidebar_widget newsletter_widget">
                            <h4 class="widget_title">Abone ol</h4>

                            <form action="#">
                                <div class="form-group">
                                    <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Enter email'" placeholder='e-Posta adresini gir' required>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Abone ol</button>
                            </form>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
       <!-- Search model Begin -->
    <div class="search-model-box">
        <div class="d-flex align-items-center h-100 justify-content-center">
            <div class="search-close-btn">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Searching key.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- JS here -->

    <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    
    <!-- Scrollup, nice-select, sticky -->
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>

    <!-- contact js -->
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

</body>